<!DOCTYPE html>
<html>
<head>
    <title>Kotiki</title>
</head>
<body>
<div id = "1">
    <h2 align="center">Mimimimetr</h2>
</div>
<div id="2" align="center">
    <h4>Выбери самого Мимимишного котика!</h4>
</div>

<form method="post">
    <table align="center">
        <body>
        <tr>
            <td><button th:type="text" th:name="kotikInfo" th:value="${k1.id}">
                <img th:src="'images/'+${k1.imgSource}+'.jpg'"
                     th:value="*{k1.id}"
                     width="300"
                     height="300"
                     th:title="${k1.name}">
            </button></td>
            <td><button th:type="text" th:name="kotikInfo" th:value="${k2.id}">
                <img th:src="'images/'+${k2.imgSource}+'.jpg'"
                     th:value="*{k2.id}"
                     width="300"
                     height="300"
                     th:title="${k2.name}">
            </button></td>
        </tr>
        <tr>
            <td align="center"> <button th:type="text" th:name="kotikInfo" th:value="${k1.id}" th:text="${k1.name}"></button></td>
            <td align="center"> <button th:type="text" th:name="kotikInfo" th:value="${k2.id}" th:text="${k2.name}"></button></td>
        </tr>
        </body>
    </table>

</form>

</body>
</html>
